.App {
  text-align: center;
  display: flex;
}

.main-content {
  order: 1;
  width: 100%;
  display: relative;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  display: flex;
  width: 100%;
  height: 10vh;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu-tray {
  order: 0;
  background-color: #525761;
  flex-basis: 40vw;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  margin-left: -40vw;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.menu-tray::-webkit-scrollbar {
  width: 0 !important;
}

.menu-tray.open {
  margin-left: 0;
}

.menu-tray>.place-list {
  display: fixed;
}

.menu-icon {
  margin: 0.5em;
  justify-self: end;
}

.menu-icon:hover {
  cursor: pointer;
}

#title {
  margin: auto;
  align-self: end;
}

.map {
  height: 90vh !important;
  transition: 5s ease !important;
}

.map.small {
  width: min-content !important;
}